@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

Apply Inter font to body body {
  font-family: "Inter", sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.react-tel-input {
  border: none;
  padding: 0.5rem 0;
}

.react-tel-input .flag-dropdown {
  margin-right: 0.5rem;
  border: none;
  background-color: white;
}

.react-tel-input .form-control {
  border: none;
  outline: none;
  box-shadow: none;
  @apply text-custom-black text-lg;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

* {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

*::-webkit-scrollbar {
  display: none;
}

.scrollbar-hidden {
  overflow: auto;
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

.scrollbar-hidden {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.text-custom-gradient {
  background: linear-gradient(360deg, #2A346C 14.84%, #3971A1 103.16%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.star-border {
  text-shadow: 
    0px 0px 0 #000, 
    0px 0px 0 #000, 
    0px 0px 0 #000, 
    0px 0px 0 #000,
    1px 0 0 #000,
    0 1px 0 #000,
    -1px 0 0 #000,
    0 -1px 0 #000;
}


/* for loader */





.loader {
  width: 30px;
  
  aspect-ratio: 1;
  border-radius: 50%;
  padding: 4px;
  background:
    conic-gradient(from 135deg at top,currentColor 90deg, #0000 0) 0 calc(50% - 4px)/17px 8.5px,
    radial-gradient(farthest-side at bottom left,#0000 calc(100% - 6px),currentColor calc(100% - 5px) 99%,#0000) top right/50%  50% content-box content-box,
    radial-gradient(farthest-side at top        ,#0000 calc(100% - 6px),currentColor calc(100% - 5px) 99%,#0000) bottom   /100% 50% content-box content-box;
  background-repeat: no-repeat;
  animation: l11 1s infinite linear;
}
@keyframes l11{ 
  100%{transform: rotate(1turn)}
}



/* HTML: <div class="loader"></div> */
.loaderr {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 8px solid;
  border-color: #000 #0000;
  animation: l1 1s infinite;
}
@keyframes l1 {to{transform: rotate(.5turn)}}

